<!DOCTYPE html>
<html lang="en">
  <%- include('head', { title: title }) %>
  <body>
    <%- include('header') %>
    <main>
      <% messages.map(message => { %>
      <div class="card">
        <div>
          <h2><%= message.user %></h2>
          <p class="text"><%= message.text %></p>
          <p class="date"><%= message.added %></p>
          <a href="message/<%= message.id %>">Open</a>
        </div>
      </div>
      <% }) %>
    </main>
    <%- include('footer') %>
  </body>
</html>
